@media screen and (max-width: 1000px) {
  #hero-div {
    height: 60vh;
    margin: 50px 0;
  }
  #hero-left {
    width: 60%;
    padding: 40px;
  }
  #hero-left-text h1{
    font-size: 40px !important;
  }
}

@media screen and (max-width: 768px) {
  #hero-div {
    height: 60vh;
    margin: 30px 0;
  }
  #hero-left {
    width: 60%;
    padding: 20px;
  }
  #hero-left-text {
    gap: 5px;
  }
  #hero-left-text h1{
    font-size: 35px !important;
  }
  #hero-left-img {
    height: 50%;
    width: 100%;
  }
  #hero-left h1 {
    font-size: 35px;
  }
  #hero-right {
    width: 40%;
  }
  #coffees {
    display: grid;
    grid-template-columns: repeat(2, 200px);
  }
  #about {
    padding: 30px 0;
    gap: 10px 0;
  }
  #about-right {
    width: 55%;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 650px) {
  #header {
    padding: 20px 10px;
  }
  #navbar ul li a {
    font-size: 15px;
    font-weight: 400;
  }
  #hero-div {
    height: 60vh;
    margin: 60px 0;
  }
  #hero-div button{
    padding: 6px 10px;
  }
  #hero-div h1{
    font-size: 30px;
  }
  #hero-left-text h1{
    font-size: 32px !important;
  }
  #about {
    flex-direction: column;
    height: auto;
    margin: 0;
  }
  #about-left {
    width: 90%;
    padding: 80px 80px 0 80px;
  }
  #about-right {
    width: 90%;
  }
  h2 {
    text-align: center;
    margin: 50px 0 10px 0;
    font-size: 35px;
    color: #3d180d;
    text-decoration: underline;
  }
  .coffee {
    margin: 20px 0;
  }
}

@media screen and (max-width: 550px) {
  
  #header {
    padding: 20px 5px;
  }
  #hero-div {
    margin: 30px 0;
  }
  #header img {
    width: 50px;
  }
  #hero-left-img{
    display: none;
  }
  #navbar ul li {
    margin-right: 2px;
    padding: 4px 4px;
    font-size: 13px;
  }
  h2{
    margin: 30px 0 0 0;
  }
  #hero-div {
    flex-direction: column;
    height: auto;
  }
  #hero-left {
    width: 100%;
    gap: 10px;
  }
  #hero-left-text {
    gap: 20px;
  }
  #hero-right {
    width: 70%;
  }
  .coffee {
    margin: 15px 0;
  }
  #about-right{
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  #coffees {
    grid-template-columns: 220px;
  }
}