@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #9C8882;
  overflow-x: hidden;
}

#header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

#header img {
  width: 60px;
}

#navbar ul {
  list-style-type: none;
}

#navbar ul li {
  display: inline-block;
  margin-right: 10px;
  background-color: #d8cab8;
  padding: 7px 18px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
}
#navbar ul li a {
  color: #3d180d;
  text-decoration: none;
}

#navbar ul li:hover {
  background-color: transparent;
  border: 1px solid #3d180d;
  color: #3d180d;
}

h2 {
  text-align: center;
  margin: 100px 0 20px 0;
  font-size: 40px;
  color: #3d180d;
  text-decoration: underline;
}

#hero-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

#hero-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#hero-left-text {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  color: #3d180d;
}

#hero-left-img {
  height: 50%;
  width: 100%;
}

#hero-left-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#hero-left h1 {
  font-size: 40px;
}

#hero-left button {
  padding: 8px 16px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  border: 1px solid #3d180d;
  cursor: pointer;
  color: #3d180d;font-weight: 500;
}

#hero-left button:hover {
  background-color: #3d180d;
  color: #fff;
  transition: color 0.3s;
}

#hero-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#hero-right #hero-right-img {
  height: 100%;
  width: auto;
}

#hero-right-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#coffees {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: space-evenly;
  padding: 20px 0;
  gap: 40px 0;
}

.coffee {
  margin: 35px 0;
  height: 220px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/Coffee-background.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  transition: transform 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
}

.coffee:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.coffee-img {
  height: 50%;
  width: 100%;
}

.coffee-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  top: -40%;
}

.coffee-text {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  color: #d3d3d3;
}

.coffee-text h3 {
  font-size: 18px;
}

.coffee-text p {
  font-size: 13px;
}

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  padding: 30px 0;
  margin: 40px 0;
  gap: 50px 0;
}

#about-left {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-left-img {
  height: 100%;
  width: 100%;
}

#about-left-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#about-right {
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 70px;
  text-align: justify;
  color: #3d180d;
}

#cold-coffees {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 0;
}

.cold-coffee {
  width: 220px;
  height: 260px;
  background-color: #d8cab8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
  transition: box-shadow 0.4s ease;
}

.cold-coffee:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.cold-coffee-img {
  height: 80%;
  width: 95%;
  padding: 25px;
  margin: 5px auto;
  background-color: #ac7d5f;
}

.cold-coffee-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.4s ease;
}

.cold-coffee:hover .cold-coffee-img img {
  transform: translateY(-10px);
}

.cold-coffee-text {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8cab8;
  color: #3d180d;
}

#beans {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 50px 0;
}

.beans {
  width: 220px;
  height: 220px;
  background-color: #9f8a81;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 30px 0;
  color: #3d180d;
  transition: box-shadow 0.35s ease-in-out;
}

.beans:hover{
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
}

.beans-img {
  height: 65%;
  width: 100%;
  margin: 5px auto;
}

.beans-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  scale: 190%;
  position: relative;
  top: -40%;
}

.beans-text {
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

#footer {
  display: flex;
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(./images/Coffee_Beans_Footer1.png);
  justify-content: space-around;
  padding: 60px 0;
  color: #d3d3d3;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  gap: 30px;
}

#footer #privacy,
#footer #about-us,
#footer #info,
#footer #contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#footer #privacy h4,
#footer #about-us h4,
#footer #info h4,
#footer #contact h4 {
  font-size: 18px;
}

#footer #privacy p,
#footer #about-us p,
#footer #info p,
#footer #contact p {
  font-size: 14px;
}

#footer #contact #contact-icons {
  display: flex;
  gap: 10px;
  font-size: 27px;
  color: #ac7d5f;
}

#footer #contact #contact-icons i:hover {
  color: #e18c58;
  cursor: pointer;
}
