* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url(./images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

#header img {
  width: 60px;
}

#navbar ul {
  list-style-type: none;
}

#navbar ul li {
  display: inline-block;
  margin-right: 10px;
  background-color: #D8CAB8;
  padding: 7px 18px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
}

#navbar ul li:hover{
    background-color: transparent;
    border: 1px solid #3D180D;
    color: #3D180D;
}

#hero-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

#hero-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#hero-left-text {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  color: #3D180D;
}

#hero-left-img {
  height: 50%;
  width: 100%;
}

#hero-left-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#hero-left h1 {
  font-size: 40px;
}

#hero-left button {
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  border: 1px solid #3D180D;
  cursor: pointer;
  color: #3D180D;
}

#hero-left button:hover {
  background-color: #3D180D;
  color: #fff;
  transition: color 0.3s;
}

#hero-right {
  width: 50%;
  /* background-color: blueviolet; */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#hero-right #hero-right-img {
  height: 100%;
  width: auto;
}

#hero-right-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#coffees {
  background-color: lightgray;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: space-evenly;
  padding: 50px 0;
  gap: 50px 0;
}

.coffee {
  margin: 50px 0;
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/back4.jpg);
  background-size: cover;
  background-position: center;
}

.coffee-img {
  height: 50%;
  width: 100%;
  position: relative;
  top: -15%;
}

.coffee-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.coffee-text {
  /* background-color: lightsalmon; */
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  padding: 50px 0;
  gap: 50px 0;
  background-color: rgb(142, 89, 89);
}

#about-left {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-left-img {
  height: 100%;
  width: 100%;
  background-color: green;
}

#about-left-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#about-right {
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}

#cold-coffees {
  background-color: greenyellow;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 40px 0;
}

.cold-coffee {
  width: 250px;
  height: 50vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cold-coffee-img {
  height: 80%;
  width: 95%;
  padding: 15px;
  margin: 5px auto;
  background-color: blueviolet;
}

.cold-coffee-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cold-coffee-text {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#beans {
  background-color: rgb(130, 156, 92);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px 0;
}

.beans {
  width: 230px;
  height: 40vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
}

.beans-img {
  height: 70%;
  width: 100%;
  margin: 5px auto;
  background-color: blueviolet;
}

.beans-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  scale: 150%;
  position: relative;
  top: -50%;
}

.beans-text {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#footer {
  display: flex;
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(./images/Coffee_Beans_Footer1.png);
  justify-content: space-around;
  align-items: center;
  padding: 60px 0;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#footer #privacy,
#footer #about-us,
#footer #info,
#footer #contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#footer #privacy h4,
#footer #about-us h4,
#footer #info h4,
#footer #contact h4 {
  font-size: 20px;
}

#footer #contact #contact-icons {
  display: flex;
  gap: 10px;
  font-size: 25px;
}
